@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');



*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color:  #1e1e1e;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 650px;
    padding: 0px 50px ;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 25%), url(../../assets/images/img-dog-initial-page.jpg);
    background-size: 100% 120%;
    background-repeat: no-repeat;

  
}
#menu{
    display: flex;
}
#menu>li{
    margin-left: 10px;
}
#menu>li>a{
    display: block;
    margin: 40px 0px 20px 30px;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Jockey One';

    

font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}
  
  .hero {
    color: white;
    text-align: center;
    font-size: 0.5rem;
    padding: 180px 100px;
    position: absolute;
  }
  
  .hero h1 {
   color: #994900;
font-family: 'Jockey One';
font-weight: 40px;
font-size: 35px;
line-height: 10%;
text-align: center;
margin: 80px 0px;
  }
  
  .hero button {
    padding: 10px 20px;
    background-color:#27A8AD;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  
.sobre-nos {
  position: relative;
  padding: 60px;
  background-color: #222;
  min-height: 300px;
}

.caixa-texto {
  max-width: 400px;
  background-color:#222;
  color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.gatopng img {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 200px; 
  height: auto;
  object-fit: contain;
  z-index: 1;
  pointer-events: none;
}

  .ajuda {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px 20px;
  }
  
  .patas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
  }
  
  .pata-botao {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
  }
  
  .pata-botao img {
    width: 100px;
    height: auto;
  }
  
  .pata-botao:hover {
    transform: scale(1.1);
  }
  
  .pata-botao p {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .galery {
    background-color: whitesmoke;
    padding: 50px 30px;
    text-align: center;

  }
  .galery h2{
    color: #1e1e1e;
  }
  .galeria{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .fotos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }
  
  .foto {
    background: white;
    padding: 15px;
    width: 150px;
  }
  
  .foto img {
    width: 100%;
  }

#big-cat{
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
   
 }
#big-gato{
    width: 264.08px;
    height: 291px;
    position: absolute;
    bottom: -50px;
 
 }

footer{
    background-color: #27A8AD;
}
#footer-primary{
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
   
    
}
#footer-secondary{
    background-color: #27A8AD;
    text-align: center;
    margin-top: 1.5rem;
  }
.inf{
    
    text-align: center;
    margin-top: 100px;
    display: grid;
    font-family: 'Jockey One'
    
    
    
  }
.inf>a{
    font-family: arial;
}
.footer-item{
    color: black;
    padding: 5px;
 }     
.social-icons{
    display: flex;
    justify-content: center;

    height: 100px;
   
       
}
.item-social{
    margin-left: 20px;
}
.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div {
width: 32px;
height: 2px;
background: #fff;
margin: 8px;
} 

@media screen and (max-width: 780px){
#menu{
    display: none;
}
.mobile-menu{
    display: block;
}
.search{
    display: grid;
    grid-template-columns:1fr;
    padding: auto;
    
}
.menu-item{
    width: 100%;
}
.animal-details{
    
    display: grid;
}



.galery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   place-items: center;
  
}

.card-animals{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    height: 18rem;
    width: 12rem;
  
}
.img-animal{
    width: 100%;
    height: 60%;

}
.card-name{
    margin-top: 2px;
    margin-bottom: 16px;

}
.card-local{
    
    font-size: 1rem;
  
    


}
.pagination{
    text-align: center;}

#big-gato{
        width: 204.08px;
        height: 201px;
        bottom: -35px;}

#footer-primary{
            display: grid;
                
            grid-template-columns: 1fr;
                
      
        }

.icones{
        width: 60px;
        margin-top: 20px;
        margin-right: 20px;
           
    }
}


  .ajuda {
  background-image: url('../../assets/images/background_black.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:250px;
  color: white;
  padding: 20px;
}

.fotos img {
  width: 120px;
  height: auto;
  transition: transform 0.5s ease;
  border-radius: 7px;
}

.fotos img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

  .h2 {
    color:#f2f2f2;
  }


  /*MODAL*/   

#fade, #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}


#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
   z-index: 5;
}

#modal{
    position: fixed;
    left: 82%;
    top: 10%;
    transform: translate(-50%, -2%);
    z-index: 10;
    background-color: white;
    width: 150px;
    max-width: 90%;
    padding: 0.5rem 0rem 0.5rem 1.2rem;

}


#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
}
#modal.hide{
    top: 0;
}

#modal>li>a{
    color: #27A8AD;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    
}
#modal>li{
    text-align: left;
    font-size: 0px;
    margin: 1.5rem 0rem;

}


