  @import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

  .cabecalho {
    justify-content: space-between;
    height: 650px;
    background-image: url(../../../assets/images/img-dog-initial-page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cabecalho-degrader {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .capa {
    width: 30%;
    color: white;
    text-align: center;
    padding: 100px 20px;

    h1 {
      color: #994900;
      font-family: 'Jockey One';
      font-weight: 400;
      font-size: 1.8rem;
      margin-bottom: 40px;
    }

    button {
      font-family: 'Jockey One';
      font-weight: 200;
      padding: 10px 30px;
      background-color: #27A8AD;
      border: none;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 8px;
      box-shadow: #aeaeae 0px 4px 6px -1px, rgba(0, 0, 0, 0.5) 0px 2px 4px -1px;
    }
  }

  .sobre-nos {
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      flex: 1;
      padding: 10px 74px 10px 74px;
      color: white;
      font-size: 1.8rem;
      font-weight: 400;
    }

    img {
      max-width: 690px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
    }
  }

  .ajuda {
    text-align: center;
    padding: 40px 20px;
    background-image: url(../../../assets/images/background_black.png);
    background-size: inherit;
    background-position: center;
    background-repeat: repeat;
    
    > div {
      display: flex;
      height: 400px;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      margin-top: 20px;

      a {
        text-align: center;
        text-decoration: none;
        color: white;
        transition: transform 0.2s;

        img {
          max-width: 200px;
        }

      }

      a:hover {
          transform: scale(1.1);
      }
    }
  
  }

  .galeria {
    text-align: center;

    > div {
      background-color: #1e1e1e;
      padding: 20px 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      .setas {
        font-size: 35px;
        color: #27A8AD;
        cursor: pointer;
        margin: 10px;
        transition: transform 0.3s, box-shadow 0.3s;
      }

      .setas:hover {
        transform: scale(1.4);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }
    }
  }

  #lista-galeria {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  @media (max-width: 768px) {

    .capa {
      width: 60%;
    }

    .cabecalho {
      height: 550px;
      background-position: -80px;
    }
    
    .sobre-nos {
      display: block;
      p {
        padding: 20px;
      }

      img {
        width: 100%;
      }
    }

    .ajuda {
      > div {
        display: block;
        height: auto;
      }
    }

    .galeria {
      justify-content: center;
    }

  }