*{
    list-style: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #1e1e1e;
}

.pro-titulo {
    color: #27A8AD;
    font-family: 'Jockey One';
    font-weight: 200;
    font-size: 1.5rem;
}