*{
    list-style: none;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #1e1e1e;
    margin: 0px;
}

.pro-titulo {
    color: #27A8AD;
    font-family: 'Jockey One';
    font-weight: 200;
    font-size: 1.5rem;
}

.pro-titulo-2 {
     color: #27A8AD;
    font-family: 'Jockey One';
    font-weight: 200;
    font-size: 1.3rem;
}