<header>
    <a href=""><img src="../../../assets/images/logo_protecao.png" alt="logo-prot-animal" id="logo" width="140px"></a>
    <!--MODAL-->
    <div id="fade" class="hide"></div>
    <div class="modal">
        <div class="textModal"><img src="../../../assets/icons/game-icons_dog-house.png" alt="">
            <p> Pagina Inicial</p>
        </div>
        <div class="textModal"><img src="../../../assets/icons/Vector.png" alt="">
            <p>Quero Adotar</p>
        </div>
        <div class="textModal"><img src="../../../assets/icons/bxs_donate-heart.png" alt="">
            <p>Quero Doar</p>
        </div>
        <div class="textModal"><img src="../../../assets/icons/ic_baseline-diversity-3.png" alt="">
            <p>Quem Somos</p>
        </div>
    </div>

    <button class="open-modal">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </button>

    <ul id="menu">
        <li><a href="../inicial/index.html">Pagina inicial</a></li>
        <li><a href="../doacao/index.html">Quero ajudar</a></li>
        <li><a href="../adocao/index.html">Quero adotar</a></li>
        <li><a href="../sobre/index.html">Quem somos</a></li>
    </ul>
</header>