:root {
  --main-bg-color: #1e1e1e;
  --title-color: #27a8ad;
  --subtitle-color: #ffffff;
  --box-color: #ffffff;
  --link-nav-color: #ffffff;
  --card-title-color: #27a8ad;
  --footer-background: #27a8ad;
  --footer-font-color: #000000;
  --box-pix-color: #A5A5A5;
  --box-modal-mobile: #FFFFFF;
}

* {
  height: max-content;
  font-family: "Jockey One", serif;
  font-style: normal;
  margin: 0px;
  padding: 0px;
 
}

body {
  background-color: var(--main-bg-color);
  
}

header {
  justify-content: space-between;
  height: auto;
  padding: 0px 50px;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Jockey One';



  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

}

.inicial {
    margin-left: 20px;
    margin-bottom: 20px;
}

.inicial h1 {
   text-align: start;
   font-family: "Roboto", serif;
   color: var(--footer-background);
    
}

h1 {
    font-size: x-large;
    font-weight: 400;
    font-family: "Roboto", serif;
    color: white;
    text-align: center;
    margin: 20px 0;
}

/* img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.03);
} */

.galery {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
   
  grid-template-columns: 1fr 1fr 1fr; 
  /* OU grid-template-columns: repeat(3, 1fr); */

  /* Define um espaço entre as células (colunas e linhas) */
  gap: 10px; /* Ajuste este valor conforme desejar */
}
.galeria {
   margin-left: 20px;
    margin-right: 20px;
      grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
      gap: 10px; /* espaço entre os cards */
      display:  flex;
      flex-wrap: wrap;
}


a img {
  width: 100%;   /* Faz a imagem ocupar toda a largura da tag <a> */
  height: 100%;  /* Faz a imagem ocupar toda a altura da tag <a> */
  object-fit: cover; /* Ajusta a proporção sem distorcer */
  display: block;  
}



ul li a:hover {
    color: blue;
    transition: 0.3s;
}

.gato {
  text-align: center;
  margin-bottom: -80px;
  height: 265px;
  width: auto;
}

footer {
  height: 500px;
  max-height: auto;
  background-color: var(--footer-background);
  padding-inline: 80px;
}

.footer-container {
  width: auto;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-primary {
  display: flex;
  flex-direction: row;
  gap: 111px;
  align-items: flex-start;
  justify-content: center;
}

.footer-primary p a {
  color: var(--footer-font-color);
  font-family: "Arial", sans-serif;
}

.footer-primary h4 {
  font-size: 24px;
  font-weight: 400;
}

.footer-primary p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
}

.footer-secondary {
  width: auto;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-secondary img {
  height: 145px;
  width: auto
}

.footer-section-1,
.footer-section-2,
.footer-section-3,
.footer-section-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

.footer-section-4 {
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

.open-modal {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1002;
}

.open-modal .line1,
.open-modal .line2,
.open-modal .line3 {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
  display: none;
}

/* Fundo escurecido */
.open-modal {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1002;
}

.open-modal .line1,
.open-modal .line2,
.open-modal .line3 {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
  display: none;
}

/* Fundo escurecido */
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1000;
  
  
}

#fade.show {
  display: block;
}
/* Modal do menu */
.modal {
  position: absolute;
  top: 60px; /* Ajuste conforme a posição do botão */
  right: 20px;
  background-color: #fff;
  width: 220px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  
  flex-direction: column;
  z-index: 1001;
  padding: 10px 0;
}

.modal.show {
  display: flex;
  
}
/* 
.textModal {
  display: inline-flex;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding-right: 50%;
}

.textModal:hover {
  background-color: #f0f0f0;
}

.textModal img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.textModal p {
  font-size: 14px;
  color: #009999; 
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  border-bottom: 1px solid #ccecec;
  width: 100%;
  padding-bottom: 5px;
  width: 80px;
} */

/*modal-galeria*/
.primeiro-fade {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}

#modal-galeria {
  display: none;
}

.show {
  display: block;
}

.segundo-fade {
  position: fixed;
  width: 80%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(249, 246, 246);
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1002;
  position: fixed;
  
}

.modal-close {
  position: fixed;
  right: 1%;
  top: 3%;
  height: 1.5rem;
  width: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: hsla(0, 0%, 33%, 0.958);
  text-align: center;
  justify-content: center;
  z-index: 1003;
}


.modal-btn.modal-prev {
  display: grid;
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  top: 48%;
  margin-left: 12%;
  font-size: 30px;
  cursor: pointer;
  z-index: 1005;
  opacity: 1;
  color: white;
  background-color: #181616;
  transform: translate(-50%, -50%);
}

.modal-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 1);
  z-index: 1003;
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 872px;  
  width: 878px;
}

.modal-content img {
  width: 878px;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  z-index: 1004;
}

.modal-btn.modal-next {
  display: grid;
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  top: 48%;
  margin-left: 83%;
  font-size: 30px;
  cursor: pointer;
  z-index: 1003;
  opacity: 1;
  color: white;
  background-color: #181616;

  
}





@media (max-width: 768px) {
 #menu {
    display: none;
  }

  .open-modal {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .open-modal .line1,
.open-modal .line2,
.open-modal .line3 {
    display: block;
  }


  .´primeiro-fade´ {
    display: none;
  }

   .segundo-fade {
    width: 90%;
    }

    
    

   .title-footer {
    margin-bottom: 20px;
  }

  .footer-primary {
    margin-top: 200px;
  }

  .footer-primary {
    display: block;
  }

  footer {
    height: 1000px;
    margin-bottom: 0%;
  }

    .galeria {
        justify-content: center;
        gap: 8px;
    }

    /* img {
        width: 150px;
        height: 150px;
    } */
}
