@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --main-bg-color: #1e1e1e;
    --title-color: #27a8ad;
    --subtitle-color: #ffffff;
    --box-color: #ffffff;
    --link-nav-color: #ffffff;
    --card-title-color: #27a8ad;
    --footer-background: #27a8ad;
    --footer-font-color: #000000;
    --box-pix-color: #A5A5A5;
  }


*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: var(--main-bg-color);}

#menu{
    display: flex;
}
#menu>li{
    margin-left: 10px;
}
#menu>li>a{
    display: block;
}
a{
    text-decoration: none;
    color: var(--link-nav-color);

    font-family: 'Jockey One';

    

font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

#hist{
    color: white;
    margin: 40px 20px 0px;  


    font-family: 'Jockey One';
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

}
#hist>a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

h2{
    color:  #27A8AD;
    padding: 30px 0px 30px 0px;
    margin-left: 30px;

    font-family: 'Jockey One';
font-weight: 400;
font-size: 30px;
line-height: 100%;
letter-spacing: 4%;

}



.search{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
gap: 5px;
background-color: white;
margin: 0 2rem;

padding: 34px 28px 34px 28px;
border-radius: 10px ;


}

.menu-item{
    min-width:95%;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
    
}
.filter-select{
    flex: 1;
    border: 0.15rem solid #eee;
    padding: .3rem .6rem;
    border-radius: 10px ;
    font-family: Arial;
}

#search-button{
    background-color: #27A8AD;
    color: white;
    border: 0.15rem solid ;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-radius: 10px ;
    height: 48px;
}
#search-button:hover{
    background-color: #1f8084;
    color: #fff;
}
.galery{
    display: flex;
 flex-wrap: wrap;
 justify-content: center;
    
    gap: 1rem;
    margin: 2rem;
    padding: 1rem;
    
}
.card-animals{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    height: 420px;
  min-width: 150px;
}
.img-animal{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  

}
.card-name{
   
    padding: 0px 10px;
    gap: 10px;



    color: #27A8AD;
    font-family: Arial;
    font-size: 25px;
    font-weight: 700;
    line-height: 28.75px;
    text-align: center;
    text-decoration-skip-ink: none;
    margin-top: 10px;
    margin-bottom: 40px;

}
.card-local{
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.7px;
    text-align: center;
    text-decoration-skip-ink: none;


    padding: 0px 10px 0px 10px;
    gap: 10px;
    opacity: 0px;


}
.card-adotado {
    background-color: rgb(255, 172, 12);
    color: white;   
    width: 100%;
    text-align: center;
    height: 40px;
    margin-top: -2rem;
    position: relative;
    
}
.card-adotado p{
    width: 100%;
    font-size: 24px;
    padding-top: 0.3rem;
    }


#pagination{
    text-align: right;
    padding: 25px;
}
#pagination span, .seta{
    color: white;
    text-decoration: none;
    padding: 12px;
    display: inline-block;
    border: 0.2px solid #27A8AD;
    border-radius: 5px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
#pagination span.active, .seta.active{
    background-color: #27A8AD;
    font-weight: bold;
    border-radius: 5px;
}
#pagination span:hover:not(.active){
    background-color: #27A8AD;
    border-radius: 5px;
}
.seta:hover:not(.active){
    background-color: #27A8AD;
    border-radius: 5px;
    color: white;
}
.seta{
    border: none;
    color: #27A8AD;
   background-color: #1e1e1e;
}
#big-cat{
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
   
 }
#big-gato{
    width: 264.08px;
    height: 291px;
    position: absolute;
    bottom: -50px;
 
 }

footer{
    background-color: #27A8AD;
}
#footer-primary{
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
   
    
}
#footer-secondary{
    background-color: #27A8AD;
    text-align: center;
    margin-top: 1.5rem;
  }
.inf{
    
    text-align: center;
    margin-top: 100px;
    display: grid;
    font-family: 'Jockey One'
    
    
    
  }
.inf>a{
    font-family: arial;
}
.footer-item{
    color: black;
    padding: 5px;
 }     
.social-icons{
    display: flex;
    justify-content: center;

    height: 100px;
   
       
}
.item-social{
    margin-left: 20px;
}

@media screen and (max-width: 780px){

.search{
    display: grid;
    grid-template-columns:1fr;
    padding: auto;
    
}

.galery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   place-items: center;
  
}

.card-animals{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    height: 18rem;
    width: 12rem;
  
}
.img-animal{
    width: 100%;
    height: 60%;

}
.card-name{
    margin-top: 2px;
    margin-bottom: 16px;

}
.card-local{
    
    font-size: 1rem;
  
    


}
#pagination{
    text-align: center;}

#big-gato{
        width: 204.08px;
        height: 201px;
        bottom: -35px;}

#footer-primary{
        display: grid;
            
        grid-template-columns: 1fr;
            
  
    }

    .icones{
        width: 60px;
        margin-top: 20px;
        margin-right: 20px;
           
    }
}

