@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: black;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: black;
}

#menu{
    display: flex;
}
#menu>li{
    margin-left: 10px;
}
#menu>li>a{
    display: block;
    padding: 5px;
}
a{
    text-decoration: none;
    color: white;
}




section{
    padding: 40px 80px 0px 80px;
}
#hist{
    color: white;
    margin: 0 20px;  
}
#hist>a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
h2{
    color:  #27A8AD;
    padding: 30px 0px 30px 0px;
    margin-left: 30px;
}



.search{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
gap: 5px;
background-color: white;

margin: 0px 30px;
padding: 34px 28px 34px 28px;
border-radius: 10px ;


}

.menu-item{
    min-width:75%;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
       
}
#filter-select{
    flex: 1;
    border: 0.15rem solid #eee;
    padding: .3rem .6rem;
    border-radius: 10px ;
}

#search-button{
    background-color: #27A8AD;
    color: white;
    border: 0.15rem solid ;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-radius: 10px ;
    height: 48px;
}
#search-button:hover{
    background-color: #1f8084;
    color: #fff;
}
.galery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    
    gap: 10px;
    margin-top: 40px;
    padding: 34px 28px 34px 28px;
    justify-content: center;
    text-align: center;
    
}
.card-animals{
    background-color: white;
    width: 300px;
    height: 420px;
    top: 1553px;
    left: 2028px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    border: 1px solid black;

}
.img-animal{
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}
.card-name{

    width: 300px;
    height: 57px;
    padding: 0px 10px 0px 10px;
    gap: 10px;



    color: #27A8AD;
    font-family: Arial;
    font-size: 25px;
    font-weight: 700;
    line-height: 28.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    margin-top: 10px;

}
.card-local{
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.7px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

width: 300px;
height: 51px;
padding: 0px 10px 0px 10px;
gap: 10px;
opacity: 0px;


}
.pagination{
    text-align: right;
    padding: 25px;
}
.pagination a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    border: 1px solid #27A8AD;
}
.pagination a.active{
    background-color: #27A8AD;
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: #27A8AD;
    border-radius: 5px;
}
#seta{
    border: none;
}
#big-cat{
    height: 300px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    justify-content: center;
   
 }
 #big-gato{
    width: 264.08px;
    height: 291px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    bottom: -50px;
 
 }
footer{
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
   
    background-color: #27A8AD;
}
  .inf{
    
    text-align: center;
    margin-top: 100px;
    display: grid;
    
    
  }
 h3{
    font-weight: bolder;
    
    
 }
.footer-item{
    color: black;
    padding: 5px;
 }
     
  #rodape{
   background-color: #27A8AD;
    text-align: center;
  }
  .social-icons{
    display: flex;
    justify-content: center;

    height: 100px;
   
       
}
.item-social{
    margin-left: 20px;
}
.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div {
width: 32px;
height: 2px;
background: #fff;
margin: 8px;
} 
@media screen and (max-width: 780px){
#menu{
    display: none;
}
.mobile-menu{
    display: block;
}
.search{
    display: grid;
    grid-template-columns:1fr;
    padding: auto;
    
}
.menu-item{
    width: 100%;
}
.galery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   place-items: center;
  
}
.pagination{
    text-align: center;}

#big-gato{
        width: 204.08px;
        height: 201px;
        bottom: -35px;}

footer{
        display: grid;
            
        grid-template-columns: 1fr;
            
  
    }

    .icones{
        width: 60px;
        margin-top: 20px;
        margin-right: 20px;
           
    }
}