:root {
    --main-bg-color: #1e1e1e;
    --title-color: #27a8ad;
    --subtitle-color: #ffffff;
    --box-color: #ffffff;
    --link-nav-color: #ffffff;
    --card-title-color: #27a8ad;
    --footer-background: #27a8ad;
    --footer-font-color: #000000;
    --maim-color: #EFEFEF;
    --card-nav-color:#B0AFAF;
  }
  
  body {
    height: max-content;
    font-family: "Jockey One", serif;
    font-style: normal;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: var(--main-bg-color);
  
  }
  
  a {
    text-decoration: none;
  }
  
  header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 80px
  }
  header div {
    display: flex;
    align-items: center;
  }
  .logo {
    height: 95px;
    width: auto;
  }
  nav {
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
  }
  nav ul li a {
     
    color: var(--link-nav-color);
    font-size: 20px;
    background-color: var(--card-nav-color);
  }


main {
  background-color:var(--main-bg-color) ;
  padding-left: 80px;
}
.container {
  background-color: var(--card-nav-color);
  height: 1274px;
  width: 2114px;
}
.title {
  color: var(--subtitle-color);
}
.valor {
  margin-left: 80px;
  margin-right: 50px;
}
.valor nav {
  width: 100%;
}
.card {
  
}

  .gato {
    margin-left: 42%;
    margin-bottom: -25px;
    height: 265px;
    max-width: auto;}

  footer {
    height: 500px;
    max-height: auto;
    background-color: var(--footer-background);
    padding-inline: 80px;
  }
  
  .footer-container {
      width: auto;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .footer-primary {
    display: flex;
    flex-direction: row;
    gap: 111px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .footer-primary p a {
      color: var(--footer-font-color);
      font-family: "Arial", sans-serif;
  }
  
  .footer-primary h4 {
    font-size: 24px;
    font-weight: 400;
  }
  
  .footer-primary p {
      font-size: 18px;
      font-weight: 400;
      font-family: "Arial", sans-serif;
  }
  
  .footer-secondary {
    width: auto;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-secondary img {
      height: 145px;
      width: auto
  }
  
  .footer-section-1, .footer-section-2, .footer-section-3, .footer-section-4 {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 12px;
  }
  
  .footer-section-4 {
      align-items: center;
  }
  
  .social-icons {
      display: flex;
      flex-direction: row;
      gap: 20px;
  }